body {

}

img {

}

#Asia-img {
  right: 5%;
}

#Africa-img {
  right: 10%;
}

#Europe-img {
  right: 15%;
}

#NorthAmerica-img {
  right: 20%;
}

#SouthAmerica-img {
  right: 25%;
}

#Oceania-img {
  right: 30%;
}

#Antarctica-img {
  right: 35%;
}
