body {
  margin: 0;
  overflow: hidden; 
  background-color: rgb(190, 228, 243);
}

img {
  position: absolute;
  width: auto !important;
  height: auto !important;
  transform-origin: top left;
  display: block;
  transform: scale(0.45);  
}

#asia:hover,
#africa:hover,
#europe:hover,
#northamerica:hover,
#southamerica:hover,
#antarctica:hover,
#oceania:hover {
  pointer-events: none;
}

#backoceania {
  width: 700px !important;
  height: 600px !important;
  z-index: 12;
  top: 50%;
  left: 72%;
}

#backeurope {
  width: 700px !important;
  height: 500px !important;
  z-index: 15;
  top: 3%;
  left: 41%;
}

#backantarctica {
  width: 2550px !important;
  height: 300px !important;
  z-index: 11;
  top: 88%;
  left: 17%;
}

#backsouthamerica {
  width: 510px !important;
  height: 800px !important;
  z-index: 12;
  top: 42%;
  left: 23%;
}

#backnorthamerica {
  width: 1400px !important;
  height: 850px !important;
  z-index: 11;
  top: 2%;
  left: 10%;
}

#backafrica {
  width: 800px !important;
  height: 900px !important;
  z-index: 13;
  top: 25%;
  left: 40%;
}

#backasia {
  width: 1150px !important;
  height: 1050px !important;
  z-index: 11;
  top: 2%;
  left: 55%;
}

#asia-container:hover #asia,
#africa-container:hover #africa,
#europe-container:hover #europe,
#northamerica-container:hover #northamerica,
#southamerica-container:hover #southamerica,
#antarctica-container:hover #antarctica,
#oceania-container:hover #oceania {
  transform: translate(-4%, -4%) scale(0.5);
  filter: brightness(1.1);
  cursor: pointer;
}
